body{
	font-family: 'roboto', Helvetica, Arial, sans-serif;
}

header{
	width:100%;
	background-color: gold;
	margin-bottom: 20px;
}

header h1, header p{
	padding-left: 0;
}

h1, p, h2{
	margin: 0;
}

h1, h2{
	padding: 10px 0 0 15px;
}

p{
	padding: 0 0 10px 15px;
}

.card{
	border: 1px solid gray;
	margin-bottom: 20px;
}

.card p{
	margin: 10px 0;
}

.card img{
	width:100%;
}

